 @font-face {
    font-family: font;
    src: url(../fonts/Rubik-Regular.ttf);
}
*{
    font-family: 'font';
    padding:0;
    margin:0;
}
body{
  background: rgba(255, 255, 255, 0) url("../images/memphis-mini-dark.png") repeat scroll 0% 0%;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container{
	max-width: 1000px;
	padding-top: 25px;
}
#container .glitch{
  position: relative;
}
#container h1{
  color: #fff;
  margin: 10px 8px;
  border-bottom: solid 1px #fff;
}
/****************** Calendar **********************/
#container #data #calendar{
  width: 375px;
  height: 362px;
  background: #000000;
  color: #ffffff;
  margin: 0px 144px;
  border: solid 1px white;
  border-radius: 2px;
}
#container #data #calendar #popUpEvent{
  background:#fff;
  position: absolute;
  top: 30%;
  z-index: 999;
  display: flex;
  color: deeppink;
  font-weight: bold;
  margin: 5px;
  padding: 25px;
  border: solid 2px;
  border-radius: 2px;
}
#container #data #calendar #popUpEvent #popUpTitle{
  text-decoration: none;
  color:  deeppink;
  font-weight: bold;
}
#container #data #calendar #popUpEvent #popUpTitle:hover{
  text-decoration: underline;
}
#container #data #calendar #popUpEvent #closePopUp{
  text-decoration: none;
  background:  black;
  padding: 2px 5px;
  color:  white;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
}
.fc-unthemed .fc-popover .fc-header .fc-close{
  color:white !important;
  background:black !important;
  opacity: 1 !important;
  position: absolute !important;
  top: 0;
  right: 0;
  padding: 2px 2px !important;
}
.fc-center h2{
  font-size: 20px !important;
}
.fc-toolbar.fc-header-toolbar{
    margin-bottom: 0px !important;
}
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td{
  border: none !important;
}
.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number{
  float: none !important;
}
.fc .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td, .fc .fc-row .fc-mirror-skeleton td{
  text-align: center !important;
}
.fc-unthemed .fc-popover {
  background-color: #fff;
  border: solid 2px  deeppink !important;
  border-radius: 2px;
  padding: 10px;
}
.fc-unthemed .fc-divider, .fc-unthemed .fc-popover .fc-header, .fc-unthemed .fc-list-heading td{
    background:  #fff !important;
    border: solid 1px  white;
    color:black;
    font-weight: bold;
    font-size: 18px;
}
.fc-day-grid-event .fc-content {
    display: none;
}
.fc-day-grid-event{
  height: 8px;
  cursor: pointer;
}
.fc-dayGrid-view .fc-body .fc-row{
  min-height: 50px !important;
}
.fc-unthemed td.fc-today span{
 color: black !important;
}
.fc-button-primary{
  color: #fff !important;
  background-color: transparent !important;
  border-color: transparent !important;
}
/******************END - Calendar ************/
#container #data{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: start;
	flex-wrap: wrap;
	padding: 20px 0px;
}
#container #data > a{
	width: 312px;
  background: #ffffff;
	margin: 8px;
	border: solid 2px black;
	text-decoration: none;
}
#container #data > a:hover{
  border: solid 2px deeppink;
}
#container #data .details img{
	width: 100%;
	max-height: 190px;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: top;
	object-position: top;
}
#container #data .details .textData{
	padding: 10px;
}
#container #data .details .textData p{
  color: #000000;
	display: flex;
}
#container #data .details .textData p.date{
	margin: 10px 0px;
}
#container #data .details .textData p span{
	margin-right: 10px;
}
#container #data .details .textData h2.title{
	color: deeppink;
  font-size: 20px;
  padding: 5px;
}
#container #data > a:hover .textData h2.title{
  background:black;
}

@media only screen and (max-width: 996px) {
  #container{
    width: 100%;
  }
  #container #calendar{
    margin: 0px !important;
  }
  #container #data{
    justify-content: center;
  }
}